<!DOCTYPE html>
<html>
<head>
    <title>Favourite Genres</title>
    <link rel="stylesheet" type="text/css" href="/static/site.css">
</head>
<body>
    <h1>Select Your Favourite Genres</h1>
    <form method="post">
        <label><input type="checkbox" name="genres" value="Rock"> Rock</label><br>
        <label><input type="checkbox" name="genres" value="Pop"> Pop</label><br>
        <label><input type="checkbox" name="genres" value="Jazz"> Jazz</label><br>
        <label><input type="checkbox" name="genres" value="Classical"> Classical</label><br>
        <input type="submit" value="Save">
    </form>
</body>
</html>
